
@{
    ViewBag.Title = "Add Product";
}

<script src="~/Areas/Admin/Plugins/ckeditor/ckeditor.js"></script>

<form action="/Admin/CMS/AddProductSubmit" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-12">
            <label for="Name">Name</label>
        </div>
        <div class="col-12">
            <input type="text" required name="Name" placeholder="Name..." />
        </div>
        <div class="col-12">
            <label for="Description">Description</label>
        </div>
        <div class="col-12">
            <textarea name="Description" id="Description" required></textarea>
        </div>
        <div class="col-12">
            <label for="ImageFile">Image</label>
        </div>
        <div class="col-12">
            <input type="file" name="ImageFile" required />
        </div>
        <div class="col-12">
            <label for="EggWeight">Egg Weight</label>
        </div>
        <div class="col-12">
            <input type="text" name="EggWeight" placeholder="Egg Weight..." required />
        </div>
        <div class="col-12">
            <label for="ShellColor">Shell Color</label>
        </div>
        <div class="col-12">
            <input type="text" name="ShellColor" placeholder="Shell Color..." required />
        </div>
        <div class="col-12">
            <label for="MaleWeight">Male Weight</label>
        </div>
        <div class="col-12">
            <input type="text" name="MaleWeight" placeholder="Male Weight..." required />
        </div>
        <div class="col-12">
            <label for="FemaleWeight">Female Weight</label>
        </div>
        <div class="col-12">
            <input type="text" name="FemaleWeight" placeholder="Female Weight..." required />
        </div>
        <div class="col-12">
            <label for="CategoryID">Category</label>
        </div>
        <div class="col-12">
            <select name="CategoryID" required>
                <option value="">Choose Category</option>
                @foreach (Category item in ViewBag.Categories)
                {
                    <option value="@item.ID">@item.Name</option>
                }
            </select>
        </div>
        <div class="col-12">
            <input type="submit" value="Add Product" />
        </div>
    </div>
</form>

<script>
    CKEDITOR.replace('Description', { height: 360, autoGrow_onStartup: true });
</script>