@model Activity
@{
    ViewBag.Title = "EditActivity";
}

<script src="~/Areas/Admin/Plugins/ckeditor/ckeditor.js"></script>
<form action="/Admin/CMS/EditActivitySubmit" method="post" enctype="multipart/form-data">
    <input type="hidden" name="ID" value="@Model.ID" />
    <div class="row">
        <div class="col-12">
            <label for="Name">Name</label>
        </div>
        <div class="col-12">
            <input type="text" required placeholder="Name" name="Name" value="@Model.Name" />
        </div>
        <div class="col-12">
            <label for="Description">Description</label>
        </div>
        <div class="col-12">
            <textarea name="Description" id="Description" required>@Model.Description</textarea>
        </div>
        <div class="col-12">
            <input type="submit" value="Edit Activity" />
        </div>
    </div>
</form>
<script>
    CKEDITOR.replace('Description', { height: 360, autoGrow_onStartup: true });
</script>

